.tableContainer{
    width: 80%;
    height: inherit;
    margin: 50px auto;
    /* background-color: brown; */
}
.tableHead{
    padding-left: 200px;
    text-align: center;
}

.tableData{
    text-align: center;
    border: 1px solid black;
    padding-left: 2px;
}

.tableRow{
    margin-left: 10%; 
}