.tableContainer{
    width: 100%;
    height: inherit;
    margin: 50px auto;
    padding-left: 100px;
    border-radius: 1px 1px 15px 1px black;
    /* background-color: brown; */
}

.tableHead{
    width: 40%;
    border-bottom: 1px solid black;
}
.tableRow{
    color: #5F5BE6;
    padding-left: 0px;
    /* background-color: aliceblue; */
    border-bottom: 1px solid black;
}

.tableData{
    width: 40%;
    text-align: center;
    /* padding-left: 100px; */
    border-bottom: 1px solid black;
}
