.container {
  padding: 0 2rem;
}


.login{
  /* border: 1px solid #5F5BE6; */
  width: 50%;
  height: fit-content;
  margin: 100px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px #2C2C2E;
  
  /* background-color: aqua; */
}
.h1{
  color: #5F5BE6;
  text-align: center;
  font-size: 34px;
}

.username{
  width: 90%;
  margin: 5px auto;
}
.name{
  width: 90%;
  height: 30px;
}
.password{
  width: 90%;
  margin: 5px auto;
}

.loginBtn{
  width: 20%;
  height: 30px;
  margin: 0 30px;
  font-size: 22px;
  color: #fff;
  background-color: #5F5BE6;
}
